<div class="jumbotron">
    <h1>Test signing service</h1>
    <p class="lead">API path: ~/api/ContextHandlerTestSigning/{thumbprint:optional thumbprint of an encryption certificate}</p>
    <p class="lead">API documentation: <a href="~/swagger/">interactive documentation</a></p>
</div>